@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../public/fonts/font.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.slate-SelectionArea .slate-h1 {
  @apply !font-normal !text-[64px] !leading-[80px] !tracking-[-0.02em] m-0 max-sm:!font-medium max-sm:!text-[32px] max-sm:!leading-[44px] font-p22;
}

.slate-SelectionArea .slate-h2 {
  @apply !font-medium !text-[40px] !leading-[56px] !tracking-[-0.02em] m-0 max-sm:!text-[32px] max-sm:!leading-[44px] font-p22;
}

.slate-SelectionArea .slate-h3 {
  @apply !font-medium !text-[32px] !leading-[44px] !tracking-[-0.02em] m-0 max-sm:!text-[24px] max-sm:!leading-[30px] max-sm:!tracking-[-0.01em] font-p22;
}

.slate-SelectionArea .slate-h4 {
  @apply !font-medium !text-[24px] !leading-[30px] !tracking-[-0.01em] m-0 max-sm:!text-[20px] max-sm:!leading-[25px] font-p22;
}

.slate-SelectionArea .slate-h5 {
  @apply !font-medium !text-[12px] !leading-[15px] !tracking-[0.08em] m-0 max-sm:!text-[20px] max-sm:!leading-[25px] font-firstext;
}

.slate-SelectionArea .slate-p {
  @apply !font-normal text-[18px] leading-[27px] m-0 max-sm:text-[16px] max-sm:leading-[24px] font-firstext;
}

.slate-SelectionArea .slate-font-size-8px {
  line-height: 12px;
}

.slate-SelectionArea .slate-font-size-9px {
  line-height: 13.5px;
}

.slate-SelectionArea .slate-font-size-10px {
  line-height: 15px;
}

.slate-SelectionArea .slate-font-size-11px {
  line-height: 16.5px;
}

.slate-SelectionArea .slate-font-size-12px {
  line-height: 18px;
}

.slate-SelectionArea .slate-font-size-14px {
  line-height: 21px;
}

.slate-SelectionArea .slate-font-size-16px {
  line-height: 24px;
}

.slate-SelectionArea .slate-font-size-18px {
  line-height: 27px;
}

.slate-SelectionArea .slate-font-size-20px {
  line-height: 30px;
}

.slate-SelectionArea .slate-font-size-22px {
  line-height: 33px;
}

.slate-SelectionArea .slate-font-size-24px {
  line-height: 36px;
}

.slate-SelectionArea .slate-font-size-26px {
  line-height: 39px;
}

.slate-SelectionArea .slate-font-size-28px {
  line-height: 42px;
}

.slate-SelectionArea .slate-font-size-36px {
  line-height: 44px;
}

.slate-SelectionArea .slate-font-size-48px {
  line-height: 56px;
}

.slate-SelectionArea .slate-font-size-72px {
  line-height: 82px;
}
